.daily-details-grid{
    grid-row-gap : 0;
    grid-column-gap : 15px;
    column-gap: 15px;
    row-gap: 0;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}

.daily-grid-items{
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-between;
}

.daily-grid-items label:first-child{
    color: #757575;

}
.daily-grid-items label:last-child{
    color: #212121;
    
}